{% load i18n %}

{% if app_list %}
    <ul class="menu-inner py-1">
        {% for app in app_list %}
            <li class="menu-item">
                <a href="{{ app.app_url }}" class="menu-link menu-toggle"
                   title="{% blocktranslate with name=app.name %}Models in the {{ name }} application{% endblocktranslate %}">
                    <i class="{{ app.icon }}  menu-icon tf-icons "></i>
                    <div data-i18n="Layouts">   {{ app.name }}</div>
                </a>
                <ul class="menu-sub">
                    {% for model in app.models %}
                        <li class="menu-item model-
                                {{ model.object_name|lower }}{% if model.admin_url in request.path|urlencode %}
                        current-model{% endif %}">
                        <span class="sidebar-link d-flex  align-middle ">
                            {% if model.admin_url %}
                                <th scope="row"><a href="{{ model.admin_url }}" class="menu-link"
                                        {% if model.admin_url in request.path|urlencode %}
                                                   aria-current="page"{% endif %}>{{ model.name }}</a>
                                </th>
                            {% else %}
                                <th scope="row">{{ model.name }}</th>
                            {% endif %}

                            {% if model.add_url %}
                                <a href="{{ model.add_url }}" class="addlink">
                                    <span class="">
                                    {% translate 'Add' %}
                                    </span></a>
                            {% else %}
                                <td></td>
                            {% endif %}
                        </span>

                            {% if model.admin_url and show_changelinks %}
                                {% if model.view_only %}
                                    <td><a href="{{ model.admin_url }}" class="viewlink">{% translate 'View' %}</a></td>
                                {% else %}
                                    <td><a href="{{ model.admin_url }}" class="changelink">{% translate 'Change' %}</a>
                                    </td>
                                {% endif %}
                            {% elif show_changelinks %}
                                <td></td>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>

            {#            <li class="menu-item">#}
            {#                <a href="{{ app.app_url }}" class="section"#}
            {#                   title="{% blocktranslate with name=app.name %}Models in the {{ name }} application{% endblocktranslate %}">#}
            {#                    <i class="{{ app.icon }}"></i>#}
            {#                    {{ app.name }}</a>#}
            {#            </li>#}
        {% endfor %}
    </ul>

{% else %}
    <p>{% translate 'You don’t have permission to view or edit anything.' %}</p>
{% endif %}
