{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{#{% block coltype %}colMS{% endblock %}#}

{#{% block bodyclass %}{{ block.super }} dashboard{% endblock %}#}

{% block nav-breadcrumbs %}{% endblock %}

{% block contentSearch %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-lg-9 mb-4 order-0">
                <div class="card">
                    <div class="d-flex align-items-end row">
                        <div class="col-sm">
                            <div class="card-body">
                                <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 order-1">
                <div class="card">
                    <div class="card-body" id="changelist-filter">
{#                        {% block sidebar %}#}
                            <div id="content-related">
                                <div class="module" id="recent-actions-module">
                                    <h2>{% translate 'Recent actions' %}</h2>
                                    <h3>{% translate 'My actions' %}</h3>
                                    {% load log %}
                                    {% get_admin_log 10 as admin_log for_user user %}
                                    {% if not admin_log %}
                                        <p>{% translate 'None available' %}</p>
                                    {% else %}
                                        <ul class="actionlist">
                                            {% for entry in admin_log %}
                                                <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                            <span class="visually-hidden">{% if entry.is_addition %}
                                {% translate 'Added:' %}{% elif entry.is_change %}
                                {% translate 'Changed:' %}{% elif entry.is_deletion %}
                                {% translate 'Deleted:' %}{% endif %}</span>
                                                    {% if entry.is_deletion or not entry.get_admin_url %}
                                                        {{ entry.object_repr }}
                                                    {% else %}
                                                        <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                                                    {% endif %}
                                                    <br>
                                                    {% if entry.content_type %}
                                                        <span class="mini quiet">{% filter capfirst %}
                                                            {{ entry.content_type.name }}{% endfilter %}</span>
                                                    {% else %}
                                                        <span class="mini quiet">{% translate 'Unknown content' %}</span>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
{#                        {% endblock %}#}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block nav-sidebar %}
    {% include "admin/nav_sidebar.html" %}
{% endblock %}
